.components-number-control {
    margin-bottom: 24px;
}

/* Fix for Gutenberg > v14 */
body ol.nolg-list li > div {
	display: inline-block;
	text-indent: 0;
}

/* Fix for Gutenberg > v14 */
body .editor-styles-wrapper ol.nolg-list [data-block] {
	margin-top: 0;
	margin-bottom: 0;
}
